<main class="main">
  <div class="content">
    <div class="left-side">
      <img [src]="imageUrl" width="150" />
      <h1>{{ title }}</h1>
      <button (click)="toggleSection()" class="btn btn-primary mb-2 mt-2">
        {{ showSection ? 'Hide' : 'Show' }} entire section
      </button>
      <div *ngIf="showSection">
        <div class="separator">
          <app-greeting [name]="'John'"></app-greeting>
          <app-counter></app-counter>
        </div>
        <div class="separator">
          <app-directives></app-directives>
        </div>
        <div class="separator">
          <p>Original: Hello Angular</p>
          <p>Reversed: {{ 'Hello Angular' | reverse }}</p>
        </div>
        <div class="separator">
          <app-task-list></app-task-list>
        </div>
        <div class="separator">
          <h1>Boolean Toggle Demo</h1>
          <app-toggle-message></app-toggle-message>
        </div>
        <div class="separator">
          <app-items></app-items>
        </div>
      </div>
    </div>
    <!-- <div class="divider" role="separator" aria-label="Divider"></div> -->
    <div class="right-side">
    </div>
  </div>
</main>
<router-outlet />